body
{
  background-color: black;
  margin-top: 100px;
}

img
{
  filter: grayscale(100%);
  border-style: solid;
  border-color:rgb(0, 0, 0);
  position:relative;
  border-width: 0;
  width: 88px;
  height: 31px;
}

a img:hover {
  filter: grayscale(0);
  border-style: solid;
  z-index:100;
  /* outline:32px blue solid; */
  outline-offset: 0px;
  box-shadow: 0px 0px 100px 70px #0044ff;
  transition: box-shadow 0.6s ease-in-out;
}

.xxiivvlogo
 {
	margin: auto;
	width:88px;
}

.grid-container {

  display: grid;
  grid-template-columns: 88px 88px 88px 88px 88px;
  grid-gap: 1px;
  padding: 0px;
  }

.grid-container > div {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  font-size: 0px;
}

.header
{
	width: 442px;
	background-color:rgb(0, 0, 0);
	padding: 0px;
    margin: auto auto 2px auto;
}